@import url("https://fonts.googleapis.com/css2?family=Changa+One&family=Josefin+Sans:wght@500&family=Ubuntu:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
}
ul {
  list-style-type: none;
}

li {
  margin-top: 20px;
}

img {
  border: 1px solid #4d4646;
  padding: 5px;
  width: 500px;
  height: auto;
}

#logo {
  width: 70px;
  height: 70px;
}

.titleContainer {
  background-color: #7a999b;
  padding: 5px;
  display: flex;
  align-items: center;
}

#logoutTitle {
  margin-left: auto;
}

.mainTitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 37px;
  display: flex;
  align-items: center;
}

.mainTitle img {
  margin-left: 5px;
}
