.settingNavItem {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.settingNavItem:hover {
  cursor: pointer;
}

.settinglist-container {
  font-family: "Josefin Sans", sans-serif;
  justify-content: space-between;

  display: flex;
  flex: 1 1 0;
}

.mysetting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#settingNav {
  align-self: flex-start;
}
